.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

/*Extra styling*/
.align_center,
.align_right {
  text-align: left;
}

#searchform {
    position: relative !important;
    top: auto !important;
    right: auto !important;
}

article img.size-full { width: 100%;  }

.archives ul li em { display: block !important; }

#sidebar { margin-top: 40px;  }
.sidebar-box { float: left !important; margin: 0 40px 0 0 !important;  }

#commentform p label { text-align: left !important;  }
