html, body, div, span, a, 
img, h1, h2, h3, h4, h5, h6, p,
ol, ul, li, form, label {
	background: transparent;
	border: 0;
	font-family: 'Georgia', 'Times New Roman', serif;
	font-weight: inherit;
	outline: 0;
}

/* LE GENERAL STYLES
___________________________________________________________*/
body { 
    background: #fefeff; 
    color: #505050;
}
#wrapper { position: relative; }
p, li, dd, dt, address { line-height: 30px; }
:focus { outline: 0; }

/* LE PRE & CODE TAGS */
code, pre {
    padding: 0 3px 2px;
    font-family: menlo, monaco, "courier new", monospace !important;
    font-size: 12px;
    color: #eee;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #d14;
    padding: 2px 4px;
}
pre {
    background-color: #303030;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 9px;
    overflow-x: auto;
    padding: 15px 8.5px;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
             border-radius: 4px;
}
    pre span { font-family: menlo, monaco, "courier new", monospace !important }
    pre.prettyprint { margin-bottom: 18px }
pre code {
    background-color: transparent;
    border: 0;
    color: inherit;
    padding: 0;
}

/* LE BLOCKQUOTE STYLING THANKS TO TWITTER BOOTSTRAP */
blockquote {
    border-left: 5px solid #eeeeee;
    margin: 0 0 18px;
    padding: 0 0 0 15px;
}
blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
}
blockquote small {
    color: #999999;
    display: block;
    line-height: 18px;
}
blockquote small:before {
    content: '\2014 \00A0';
}
q:before,
q:after,
blockquote:before,
blockquote:after { content: ''; }
address {
    display: block;
    margin-bottom: 18px;
}

dl dt, dl dd { padding: 4px 0; }

/* LE BUTTON STYLING THANKS TO USABILITYPOST.COM  http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3 */
.btn, a.btn, button, input[type=submit] {
    background: #4479BA;
    border: solid 1px #20538D;
    color: #FFF !important;
    font-family: menlo, monaco, "courier new", monospace !important;
    font-size: 12px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 5px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}
.btn:hover, a.btn:hover, button:hover, input[type=submit]:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.btn:active, a.btn:hover, button:active, input[type=submit]:active {
    border: solid 1px #203E5F;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

/* LE INPUTS, TEXTAREAS THANKS TO TWITTER BOOTSTRAP */
input, textarea, select, .uneditable-input {
    border: 1px solid #cccccc;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

input[type=text], input[type=password], textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.input-mini	{ width: 60px; }
.input-small	{ width: 90px; }
.input-medium	{ width: 150px; }
.input-large	{ width: 210px; }
.input-xlarge	{ width: 270px; }
.input-xxlarge	{ width: 530px; }

/* LE HEADINGS _____________________________________ */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #707070; font-family: 'Droid Sans','Lucida Grande', sans-serif; }
h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; text-transform: uppercase; letter-spacing: 3px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; text-transform: uppercase;}

/* LE LINKS _____________________________________ */
a	    { text-decoration: none; }
a:link 	    { color: #4a768f; }
a:visited   { color: #4a768f; }
a:hover     { color: #0095da; }
a:active    { color: #000; }


/* LE HEADER
___________________________________________________________*/
#site-title { overflow: hidden }

    #site-title span {
        float: left;
        font-size: 14px;
        width: 100%;
    }

    #site-title a { font-family: 'Droid Sans','Lucida Grande', sans-serif }

#logo img { width: 60% }

nav ul li {
    color: #4a768f;
    list-style-type: none;
}

#searchsubmit { padding: 3px 6px }


/* LE CONTENT
___________________________________________________________*/
section#articles { margin: 50px 0 0 0 }

article {
    margin: 0 0 40px 0;
    padding: 0 0 10px 0;
}

    article h1.title { color: #303030; margin: 0 }

    article img.wp-post-image {
        float: left;
        margin: 10px 20px 10px 0;
        width: auto !important;
    }

    article img {
        height: auto;
        max-width: 520px;
    }

    article p { display: block }

    article .aligncenter {
        clear: both;
        display: block;
        margin: 20px auto;
    }

    article .alignright {
        float: right;
        margin: 10px 0 10px 20px;
    }

    article .alignleft {
        float: left;
        margin: 10px 20px 10px 0;
    }

    article .wp-caption {
        background: #f9f9f9;
        max-width: 500px !important;
        padding-top: 10px;
        text-align: center;
        -webkit-border-radious: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
	article .wp-caption-text { 
	    font-family: 'Lucida Grande', arial;
	    font-size: 12px;
	    margin: -5px 0 0 0 
	}
        article .wp-caption img { max-width: 480px !important }
 
    article .page-link {
        display: inline-block;
        width: 100%;
    }
    
/* LE WP GALLERY STYLE */
.gallery {
    margin: auto;
    overflow: hidden;
    width: 100%;
}

    .gallery .gallery-item {
        float: left;
        margin: 0 1% 0 0;
        text-align: center;
    }

    .gallery br { clear: both }
    .gallery a {
        float: left;
        width: 100%;
    }

    .gallery .gallery-caption {
        background: #f9f9f9;
        display: inline-block;
        margin-left: 0;
        font-size: 11px;
        margin: 2px 0 !important;
        padding: 5px 0;
        -webkit-border-radious: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }

/* LE GALLERY COLUMNS */
.gallery-columns-2 dl { width: 48% }
.gallery-columns-3 dl { width: 30% }
.gallery-columns-4 dl { width: 24% }
.gallery-columns-5 dl { width: 19% }
.gallery-columns-6 dl { width: 15.666% }
.gallery-columns-7 dl { width: 13.285% }
.gallery-columns-8 dl { width: 11.7% }
.gallery-columns-9 dl { width: 10.111% }

.tags-name { overflow: hidden }

.notfound h1 { font-size: 40px }
    .notfound h1 span {
        font-family: 'Droid Sans','Lucida Grande', sans-serif;
        font-size: 20px;
    }
            
.archives ul {
    list-style-type: none;
    padding: 0;
}
    .archives ul li {
        border-bottom: 1px dotted #ccc;
        padding: 8px 0;
	overflow: hidden;
    }
        .archives ul li em {
	    float: left;
            font-size: 12px;
	    font-style: normal;
            padding: 0 30px 0 0;
	    margin-bottom: 5px;
	    min-width: 100px;
            text-transform: uppercase;
        }


/* LE SIDEBAR
___________________________________________________________*/
#sidebar {
    padding: 40px 0 0 0;
    overflow: hidden;
}
    #sidebar .sidebar-box {
        border-bottom: 1px dashed #e1e1e1;
        float: right;
        margin-bottom: 30px !important;
        width: 130px;
    }
        #sidebar .sidebar-box ul {
            list-style-type: none;
            padding: 0 0 0 10px;
        }
        #sidebar .sidebar-box h5 {
            line-height: normal !important;
            margin: 0;
        }
	#sidebar .sidebar-box input[type=text], 
	#sidebar .sidebar-box input[type=password] { width: 92%; }


/* LE FOOTER
___________________________________________________________*/
footer { padding: 40px 0; }
    footer .copy { float: left; width: 70%; }
    footer .copy a { font-size: 15px; }
    footer .links { float: right; }


/* LE COMMENTS
___________________________________________________________*/
#comments {
    display: inline-block;
    margin: 20px 0 0 0;
    width: 100%;
}

    #comments nav {
        display: inline-block;
        margin: 20px 0;
        width: 100%;
    }
        #comments nav .assistive-text { display: none }
        #comments nav .nav-previous { float: left }
        #comments nav .nav-next { float: right }

#comments-title { padding: 0 }
    #comments-title span { font-family: 'Droid Sans','Lucida Grande', sans-serif }

.nocomments { display: none;  }

#respond label {
    float: left;
    margin: 0 30px 0 0;
    text-align: right;
    width: 142px;
}

#respond textarea { width: 65% }

.commentlist {
    margin: 0;
    padding: 0;
}
    .commentlist li { list-style-type: none }

.comment, .trackback, .pingback {
    background: #f9f9f9;
    border: 1px solid #f0f0f0;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 3%;
    width: 94%;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.comment.byuser { background: #f2fcff !important }

.vcard img {
    float: left;
    margin: 0 20px 20px 0;
}


/*
 * Derived from einaros's Sons of Obsidian theme at
 * http://studiostyl.es/schemes/son-of-obsidian by
 * Alex Ford of CodeTunnel:
 * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 */
.str { color: #EC7600 }
.kwd { color: #93C763 }
.com { color: #66747B }
.typ { color: #678CB1 }
.lit { color: #FACD22 }
.pun { color: #F1F2F3 }
.pln { color: #F1F2F3 }
.tag { color: #8AC763 }
.atn { color: #E0E2E4 }
.atv { color: #EC7600 }
.dec { color: pink }
pre.prettyprint { border: 0px solid #888 }
ol.linenums {
    margin-top: 0;
    padding-left: 30px;
    margin-bottom: 0;
}
.prettyprint { background: #303030; }
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    color: #999;
    font-family: menlo, monaco, "courier new", monospace !important;
}
li.L1, li.L3, li.L5, li.L7, li.L9 { background: #333 }
@media print { 
    .str { color: #060 }
    .kwd {
        color: #006;
        font-weight: bold;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
        font-weight: bold;
    }
    .lit { color: #044 }
    .pun { color: #440 }
    .pln { color: #000 }
    .tag {
        color: #006;
        font-weight: bold;
    }
    .atn { color: #404 }
    .atv { color: #060 }
}


/* LE TABLES
___________________________________________________________*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
table {
  width: 100%;
  margin-bottom: 18px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}
