/*================================
SCREAM WEB STUDIOS CSS FRAMEWORK

Some basic usage instructions:

	- Indent must be 4 spaces.

	- Set your attributes alphabetically like this:
	
		.someclass {
			background: red;
			border: 1px solid #000;
			color: #fff;
			font-family: sans-serif;
			width: 200px;
		}
		
	- You can nest your classes and/or IDs (4 spaces indent):
	
		#header { background: #ff0000; }	
		--> #header #logo { float: left; }
		
	- Use Comments to separate web site sections, like this:
	
		==============================
			HEADER
		==============================
		
	- Do not use IE hacks, instead use HTML conditional Tags (<!--[if IE 7 ]><![endif]-->).
	- We Do not support IE6 by choice, so don't worry about PNG fixes.
	- TEST YOUR CSS ON ALL MAYOR BROWSERRS (IE7-8-9, Firefox, Chrome, Safari and Opera).
	- Your CSS MUST be valid, test it with W3C validator.  
	- Use CSS Sprites every time you can.
	- Keep it lite, re-use your CSS, the less lines you have the faster it'll load.

================================*/
html, body, div, span, a, 
img, h1, h2, h3, h4, h5, h6, p,
ol, ul, li, form, label {
	background: transparent;
	border: 0;
	font-family: 'Times New Roman', serif;
	font-weight: inherit;
	font-size: inherit;
	outline: 0;
}

p, li { 
    color: #454545; 
    line-height: 25px;
}

:focus	{ outline: 0; }

pre {
    overflow-x: auto;
    font-family: "Menlo", Courier, monospace;
    padding: 5%;
    display: block;
    margin-bottom: 25px;
    font-size: 15px;
    color: whiteSmoke;
    background: #444;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 90%;
    margin: inherit;
}

code {
    background: #eee;
    font-family: "Menlo", Courier, monospace; 
    font-size: 14px;
}

blockquote {
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
}

blockquote:before {
    color:#ccc;
    content:open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
}

blockquote p {
    display:inline;
}

/* HEADINGS _____________________________________*/
h1, h2, h3, h4, h5, h6 { font-family: 'Asap', sans-serif; line-height: 40px; }
h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

/* LINKS _____________________________________*/
a	    { text-decoration: none;  }
a:link 	    { color: #4a768f; }
a:visited   { color: #4a768f; }
a:hover     { color: #0095da; }
a:active    { color: #000; }


/* General Styles
___________________________________________________________*/
#wrapper {
    position: relative;
}


/* Header
___________________________________________________________*/
header #searchform {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
}

    #site-title { overflow: hidden;  }
    #site-title span {
	float: left;
	font-size: 14px;
	width: 100%;
    }
	#site-title a { font-family: 'Asap', sans-serif; }

    header ul li { color: #4a768f; list-style-type: none; }


/* Content
___________________________________________________________*/
article { padding: 0 0 30px 0;  }
    article h1 a { font-family: 'Asap', sans-serif; }
    article img {
	height: auto;
	width: auto; 
    }
    article img.alignright, .wp-caption.alignright { float: right; margin: 10px 0 10px 20px ; }
    article img.alignleft, .wp-caption.alignleft { float: left; margin: 10px 20px 10px 0; }
    article img.wp-post-image { float: left; margin: 10px 30px 10px 0; }

    article .wp-caption {
	background: #eee;
	padding-top: 5px;
	text-align: center;
    }
    article .wp-caption-text { margin: -5px 0 0 0; }

    article.notfound img { margin: 0 30px 30px 0; }
    article.notfound h1 { font-size: 40px;  }

.archives { margin: 30px 0 0 0; }
    .archives ul { list-style-type: none; }
    .archives ul li em { font-size: 12px;  }
    .archives ul li:last-child a { font-size: 12px;  }

.singlepost-ad { 
    border-top: 1px dashed #ccc;
    float: left; 
    padding: 30px 0 0 0;
}

    .singlepost-ad h5 { margin: 0 0 10px 0;  }
    .singlepost-ad img {
	float: left;
	margin: 0 20px 0 0;
    }


/* Sidebar
___________________________________________________________*/
#sidebar { overflow: hidden; }

    #sidebar .sidebar-box {
	border-bottom: 1px dashed #e1e1e1;
	float: right;
	margin: 0 0 30px 0;
	width: 130px;
    }
	#sidebar .sidebar-box h5 { margin: 6px 0;  }
	#sidebar #rotating-adds p { color: #999; font-size: 14px; }
	#sidebar #social ul { list-style-type: none; padding: 0 0 0 20px; }


/* Footer
___________________________________________________________*/
footer {
    padding: 40px 0;
}

    footer .copy { float: left; }
    footer .copy a { font-size: 15px;  }
    footer .links { float: right; }


/* Comments
___________________________________________________________*/
#comments {
    border-top: 1px dashed #ccc;
    display: inline-block;
    margin: 30px 0 0 0;
}

#respond label {
    float: left;
    margin: 0 30px 0 0;
    text-align: right;
    width: 60px;
}

#respond input, #respond textarea {
    background: #eee;
    border: none;
    padding: 5px;
}
#respond input:focus, #respond textarea:focus { background: #F4F6FB; }
#respond textarea { width: 80%;  }

#respond #submit { 
    background: #4A768F; 
    color: #fff; 
    cursor: pointer; 
}
#respond #submit:hover { background: #454545; color: #fff; }

.commentlist {
    list-style-type: none;
    padding: 0;
}
.comment {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 20px;
}
.comment.byuser { background: #f2fcff !important; }
.comment.even { background: none; }
.comment.depth-3 { background: #f9f9f9;  }
.vcard img {
    float: left;
    margin: 0 20px 20px 0;
}
