table.form-table {
    width: 40%;
}
table.form-table tr td { vertical-align: middle;  }
table.form-table tr.even  {
    background: #f9f9f9;
}
table.form-table .regular-text {
    float: left;
    padding: 5px;
    width: 280px;
}
table.form-table a.miniColors-trigger {
    float: left;
}

table.form-table .color input { width: 100px !important; }
table.form-table .color p { float: left; margin-bottom: 0; width: 100% !important; }
